@import "mixins";
@import "variables";
// Sass mixins libraries
@import "bourbon/bourbon";
@import "neat/neat";
// Base styles -- normalizes styles across browsers.
// Alter border-sizing styles to prevent issues in P2P HTML stories
@import "normalize";
@import "fonts";

$desert: #cec4bf;
$bluegray: #a2a9b1;
$offwhite: #ebedec;
$darkblue: #495871;
$darkgray: #3d3d3b;

html, body {
	overflow-x: hidden;
}
body {
	color: $offblack;
	font-size: 16px; // body-level font size for "em"-scaled designs
}
h1,h2,h3 {
	font-family: $inconsolata;
	text-transform: uppercase;
}
p,a {
	font-family: $notoserif;
	span {
		font-weight: bold;
	}
}
a {
	color: $goldenrod;
	text-decoration: none;
}
h1 {
	margin-bottom: .2em;
	font-size: 4em;
	@media(min-width: 1020px) {
		font-size: 6em;
	}
}
h2 {
	font-size: 3em;
}
h3 {
	font-size: 1.7em;
}
table {
	width: 100%;
}
tr {
	&:nth-child(even) {
		background-color: lighten($desert,7);
	}
}
th, td {
	padding: .3em .5em;
	font-family: $inconsolata;
}
td {
	&:first-child {
		font-weight: bold;
	}
	&:not(:first-child) {
		text-align: center;
	}
}

.container {
	margin-top: 50px; // Pushes below topnav
}
section {
	@media(min-width: 500px) {
	}
}
.width {
	&--normal {
		width: 100%;
		margin: 0 auto;
		padding: 1em;
		@media(min-width: 720px){
			max-width: 700px;
			padding: 1em 0;
		}
		@media(min-width: 1020px){
			max-width: 1000px;
		}
	}
	&--wide {
		width: 100%;
		padding: 1em;
		@media(min-width: 720px){
			padding: 1em 0;
		}
	}
	&--float {
		width: 100%;
		margin: 0 auto;
		@media(min-width: 720px){
			max-width: 700px;
		}
		@media(min-width: 1020px){
			max-width: 1000px;
		}
		.wrapper {
			position: relative;
			width: 100%;
			padding: 1em;
			&--stretch {
				background-color: $desert;
				&:after {
					position: absolute;
					content: "";
					width: 250%;
					height: 100%;
					top: 0;
					@include striped-background(90deg, 1em, white, $desert);
					z-index: -1;
				}
				h3 {
					margin-top: 0;
				}
			}
		}
	}
}
.shareTools {
	i {
		font-size: 1.5em;
		margin-right: .5em;
		cursor: pointer;
		&:hover {
			color: lighten($offblack, 30);
		}
	}
}
.text {
	&--clear {
		clear: both;
	}
	.background {
		position: relative;
		width: 100%;
		h1 {
			position: absolute;
			bottom: 1em;
			left: 0;
		}
		img {
			width: 100%;
			top: 0;
			left: 0;
		}
	}
}
.media {
	clear: both;
	&--crimeDefs {
		.wrapper {
			@media(min-width: 720px){
				max-width: 380px;
				margin: 1em 0 1em 1em;
				float: right;
				&:after {
					right: -250%;
				}
				@media(min-width: 1020px){
					max-width: 680px;
				}
			}
		}
		h3 {
			margin: 0;
		}
		ul {
			padding-left: 0;
			@media(min-width: 500px){
				padding-left: 1em;
			}
		}
		li {
			list-style: none;
		}
		p {
			font-family: $inconsolata;
			&.crimeType {
				margin: 0;
				font-weight: bold;
			}
			&.definition {
				margin-top: .2em;
				padding-left: 1em;
			}
		}
	}
	&--homicideTable {
		.wrapper {
			&:after {
				left: -250%;
			}
			@media(min-width: 1020px){
				max-width: 680px;
				margin: 1em 1em 1em 0;
				float: left;
			}
		}
		th, td {
			&:nth-child(4) {
				display: none;
				@media(min-width: 500px) {
					display: table-cell;
				}
			}
		}
	}
	&--time {
		background-color: $darkblue;
		color: white;
		.wrapper {
			width: 100%;
			text-align: center;
			p {
				text-align: left;
			}
			@media(min-width: 720px) {
				max-width: 700px;
				margin: 0 auto;
			}
			@media(min-width: 1020px){
				max-width: 1000px;
			}
		}
		.chartWrapper {
			display: inline-block;
			width: 100%;
			max-width: 310px;
			margin: 0 1em 2em 1em;
			@media(min-width: 1020px){
				max-width: 460px;
			}
		}
		canvas {
			width: 100%;
		}
	}
	&--stRobberyTable {
		.wrapper {
			&:after {
				left: -250%;
			}
		}
		th, td {
			&:nth-child(3) {
				display: none;
				@media(min-width: 500px) {
					display: table-cell;
				}
			}
		}
	}
	&--carjacking {
		.wrapper {
			@media(min-width: 720px){
				max-width: 380px;
				margin: 1em 1em 1em 0;
				float: left;
			}
			@media(min-width: 1020px){
				max-width: 680px;
			}
		}
	}
	&--carjackingTable {
		.wrapper {
			&:after {
				right: -250%;
			}
		}
		th, td {
			&:nth-child(2) {
				display: none;
				@media(min-width: 500px) {
					display: table-cell;
				}
			}
		}
	}
	&--aggAssaultsTable {
		th, td {
			&:nth-child(2) {
				display: none;
				@media(min-width: 500px) {
					display: table-cell;
				}
			}
		}
	}
	&--aggAssaultSpikesTable {
		.wrapper {
			@media(min-width: 720px){
				max-width: 500px;
				margin: 1em 1em 1em 0;
				float: left;
				&:after {
					left: -250%;
				}
				@media(min-width: 1020px){
					max-width: 720px;
				}
			}
		}
	}
}
.dataCredit {
	color: #999;
	font-style: italic;
}
/* Leaderboard */
#leaderboard {
	width: 728px;
	height: 90px;
	background-color: #222222;
	margin: 10px auto;
	text-align: center;
	@media (max-width: 730px){
		display: none;
	}
}